* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}

.blender {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-image: url("../img/licuadoraApagada.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 70%;
}

.blender.active {
    background-image: url("../img/licuadoraEncendida.gif");
}

.blender-button {
    margin: 380px auto 0px;
    width: 35px;
    height: 30px;
    /* background-color: blue; */
}
